gradio
torch
torchvision
torchaudio
bitsandbytes
llm_blender
unsloth @ git+https://github.com/unslothai/unsloth.git
unsloth_zoo @ git+https://github.com/unslothai/unsloth-zoo.git
trl>=0.12.0
datasets
huggingface_hub
mergekit
